h1 {
    text-align: center;
}
.homepage-links {
    display: flex;
    justify-content: center;
}

.homepage-links a {
    display: inline-block;
    margin: 10px;
    font-size: larger;
    border-radius: 5px;
    color: black;
}