.user_controls {
    display: flex;
    align-items: center;
}

.star-container {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.play-link {
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
}

.delete-link {
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 2px;
    margin-left: 10px;
    font-weight: bold;
}

.update-link {
    font-size: 1.1rem;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
    font-weight: bold;
}


.username-link {
    max-width: 90vw;
    display: inline-block;
    margin-left: 5px;
    color: black;
}
.creator-details {
    display: flex;
    align-items: baseline;
}

#creator_controls,.user_controls,#moderator_controls,#public_view_control{
    margin: 10px 0;
}

button, #bookmark {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}