* {
    user-select : none;
}

.hidden {
    display: none;
}

#gameCanvas {
    border: 1px solid rgb(0, 0, 0);
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
}

#playMenu {
    text-align: center;
}

#playMenuContainer {
    background-color: rgba(255,255,255,0.8);
}

#play,#replay {
    color: white;
    border: none;
    border-radius: 2px;
    padding: 4px 10px;
    cursor: pointer;
    font-size: larger;
}

#play {
    background-color: #097000;
}

#replay {
    background-color: #097000;
}

.arrowButtons {
    display: none;
}
.arrowButton {
    border: 1px solid black;
}

@media (pointer:coarse){
    .arrowButtons {
        display: grid;
    }
}

#maze_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#maze_nav a {
    color: black;
}

#instructions {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 2px;
}

#squareTypes canvas {
    width: 40px;
    height: 40px;
}

#game {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

td {
    text-align: center;
}

#openInstructions {
    background-color: rgb(0, 106, 148);
    cursor: pointer;
    color: white;
    border: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: 1rem;
}

#closeInstructions {
    background-color: rgb(180, 1, 1);
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    font-size: 1rem;
}

#instructionsNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}