html {
    min-width: 300px;
}

form {
    margin: auto;
    width: fit-content;
    max-width: 400px;
}

form label {
    margin-right: 20px;
}

form p {
    display: flex;
    justify-content: space-between;
}

.errorlist {
    color: rgb(197, 0, 0);
}

.submitContainer {
    display: flex; 
    justify-content: center;
}

.submitContainer input[type="submit"] {
    font-size: 0.9em;
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    background-color: rgb(64, 3, 80);
    border: none;
    border-radius: 5px;
}